body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px #50000e solid;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #ecab00;
  background-image: url('bg.jpg');
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 268px;
  left: 102px;
  top: 25px;
}

#slogan0 {
  width: 420px;
  left: 30px;
  top: 120px;
}
#slogan {
  width: 210px;
  left: 20px;
  top: 87px;
}

#bars {
  width: 280px;
  left: 102px;
  top: 193px;
}

#cloud-l {
  width: 73px;
  left: 63px;
  top: 23px;
}

#cloud-r {
  width: 73px;
  left: 344px;
  top: 23px;
}
#plane-l {
  width: 76px;
  left: 38px;
  top: 31px;
}

#plane-r {
  width: 76px;
  left: 366px;
  top: 31px;  
}
#palm-l {
  width: 64px;
  left: 43px;
  top: 197px;
}

#palm-r {
  width: 64px;
  left: 373px;
  top: 197px;
}

#ticket {
  width: 208px;
  left: 248px;
  top: 94px;
  transform: rotate(-5deg);
}


#schirm {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 0;
  left: 0;
  background-color: #ecab00;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}
