body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 240px;
  height: 600px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px #50000e solid;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #ecab00;
  background-image: url('bg.jpg');
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 184px;
  left: 18px;
  top: 30px;
}

#slogan {
  width: 216px;
  left: 12px;
  /* top: 186px; */
  top: 130px;
}

#bars {
  width: 215px;
  left: 15px;
  top: 484px;
}

#cloud-l {
  width: 61px;
  left: 31px;
  top: 279px;
}

#cloud-r {
  width: 61px;
  left: 148px;
  top: 279px;
}
#plane-l {
  width: 65px;
  left: 9px;
  top: 284px;
}

#plane-r {
  width: 65px;
  left: 166px;
  top: 284px;  
}
#palm-l {
  width: 67px;
  left: -23px;
  top: 450px;
}

#palm-r {
  width: 67px;
  left: 197px;
  top: 450px;
}

#ticket {
  width: 214px;
  left: 13px;
  top: 347px;
  transform: rotate(-13deg);
}


#schirm {
  position: absolute;
  width: 240px;
  height: 600px;
  top: 0;
  left: 0;
  background-color: #ecab00;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}
